@use "../../mixins" as *;
@use "../../presets" as *;

.header-menu {
  background-color: green;

  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
right: 0;

}
.header-menu__container {
  @extend %container;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: $gap;
}