@use "../../mixins" as *;
@use "../../presets" as *;

.header-navbar {

  &__list {
    @include unlist;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax (40px, max-content));
    justify-content: end;
    gap: $gap;
    list-style: none;
  }

  &__item {}

  &__link {
    font-size: 18px;
    letter-spacing: 2px;
    background-color: red;
  }
}