@use "../../mixins" as *;
@use "../../presets" as *;

.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;

  grid-template-columns: auto 1fr;
 
  &__container {
    @extend %container;
    display: flex;
  }
}