@use "../../mixins" as *;
@use "../../presets" as *;

.header-navbar {

  &__btn {
    display: none;
  }

  &__list {
    @include unlist;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(48px, max-content));
    justify-content: end;
    gap: $gap;
    margin-right: -10px;
 
  }

  &__item {}

  &__link {
    font-size: 18px;
    letter-spacing: 0.1em;
    padding: 20px 10px;
    transition: color 0.25s;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}